body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #03a9f4;
    transition: 0.5s;

}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;

}



.container button {

    width: 50%;
    padding: 10px;
    font-size: 30px;


}

.table table-hover {
    border: 2px solid black;

}

.container button a {
    text-decoration: none;
}